<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="'navigation'"
    [mode]="'side'"
    [opened]="true">
    <mat-toolbar>Activities</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item class='menu-item' routerLink="pd-claims" routerLinkActive='active'>PD/MFW Claims</a>
      <mat-divider></mat-divider>
      <a mat-list-item class='menu-item' routerLink="royal-mail-credits" routerLinkActive='active'>Royal Mail Credits</a>
      <a mat-list-item class='menu-item' routerLink="fedex-credits" routerLinkActive='active'>Fedex Credits</a>
      <a mat-list-item class='menu-item' routerLink="dhl-credits" routerLinkActive='active'>DHL Credits</a>
      <a mat-list-item class='menu-item' routerLink="wn-direct-credits" routerLinkActive='active'>WN Direct Credits</a>
      <a mat-list-item class='menu-item' routerLink="hermes-credits" routerLinkActive='active'>Hermes Credits</a>
      <a mat-list-item class='menu-item' routerLink="fastway-credits" routerLinkActive='active'>Fastway Credits</a>
      <mat-divider></mat-divider>
      <a mat-list-item class='menu-item' routerLink="report" routerLinkActive='active'>Report</a>
      <a mat-list-item class='menu-item' routerLink="colour-keys" routerLinkActive='active'>Colour Keys</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Claims Management App</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>